<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap-grid.css">
    <link rel="stylesheet" href="./css/bootstrap-reboot.css">

    <!-- Bootstrap core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/signin.css" rel="stylesheet" type="text/css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <form class="form-signin">

            <h1 class="h2 mb-3 font-weight-normal">개인정보 변경</h1>
            <label for="inputid" class="sr-only">현재 비밀번호를 입력해주세요.</label>
            <input type="password" id="NowPassword" name="UserPassword" class="form-control" placeholder="현재 비밀번호를 입력해주세요." required autofocus>
            <label for="inputPassword" class="sr-only">바꾸고 싶은 비밀번호를 입력해주세요.</label>
            <input type="password" id="NewPassword" name="UserPassword" class="form-control" placeholder="바꾸고 싶은 비밀번호를 입력해주세요." required autofocus>
            <label for="inputPassword" class="sr-only">변경할 비밀번호를 확인 해주세요.</label>
            <input type="password" id="passwordcheck" name="UserPassword" class="form-control" placeholder="변경할 비밀번호를 확인 해주세요." required autofocus>
      
            <button class="btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
      
          </form>

</body>
</html>